*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainsec{
    height: 450px;
    width: 300px;
    border: 1px solid black;
    
}
.sub{
    height: 450px;
    width: 600px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: blue;
    position: relative;
}

.sin:hover .sub{
 
   left: -100%;
}

.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    background-color: white;
}
.signup{
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

}
.mail{
    font-size: 15px;
    padding: 10px 20px;
    margin: 20px;
}
.pass{
    font-size: 15px;
    padding: 10px 20px;
    margin: 20px;
}
.upEmail{
    font-size: 15px;
    padding: 10px 20px;
    margin: 10px;
}
.upPass{
    font-size: 15px;
    padding: 10px 20px;
    margin: 10px;
}
.cpass{
    font-size: 15px;
    padding: 10px 20px;
    margin: 10px;
}
.sinUP{
    font-size: 15px;
    padding: 10px 20px;
    margin: 10px;
}
.sin{
    font-size: 15px;
    padding: 10px 20px;
    margin: 10px; 
}